version: '3.7'

services:
  db:
    image: postgres:9.6.8
    container_name: schema-cms-db
    env_file: local.env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  localstack:
    image: localstack/localstack:0.11.3
    container_name: schema-cms-localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb,s3
      - DATA_DIR=/tmp/localstack/data
      - HOST_TMP_FOLDER=/tmp
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=foo
      - AWS_SECRET_ACCESS_KEY=bar
    volumes:
      - "localstack_data:/tmp/localstack/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    privileged: true


  backend:
    image: schema_cms_backend
    container_name: schema-cms-backend
    build:
      context: backend/app
    entrypoint: ["./scripts/entrypoint.sh"]
    command: ["./scripts/run_dev.sh"]
    env_file: local.env
    volumes:
      - ./backend/app:/app
      - ./backend/functions:/functions
    ports:
      - "8000:8000"
    depends_on:
      - db
      - localstack
      - workerlambda
      - mailcatcher
    restart: always
    stdin_open: true
    tty: true


  workerlambda:
    image: schema_cms_workerlambda
    container_name: schema-cms-worker
    build:
      context: backend/functions/worker
    command: handler.main
    env_file: local.env
    environment:
      DOCKER_LAMBDA_STAY_OPEN: 1
      DOCKER_LAMBDA_WATCH: 1
      AWS_STORAGE_BUCKET_NAME: schemacms
      IMAGE_SCRAPING_FETCH_TIMEOUT: "15"
      AWS_IMAGE_STORAGE_BUCKET_NAME: schemacms-images
      AWS_IMAGE_STATIC_URL: http://localhost:4572/schemacms-images
      BACKEND_URL: http://backend:8000/api/v1
      LAMBDA_AUTH_TOKEN: 97090e73a80c4692bbbf7dedc17c59e0
    volumes:
      - ./backend/functions/worker:/var/task:ro,delegated
    ports:
      - "9001:9001"
    restart: on-failure

  mailcatcher:
    image: schickling/mailcatcher
    container_name: schema-cms-mailcatcher
    ports:
    - 1080:1080

  documentation:
    restart: always
    image: schema_cms_backend
    container_name: schema-cms-docs
    command: "mkdocs serve"
    volumes:
    - ./backend/app:/app
    ports:
    - "8001:8001"

volumes:
  localstack_data:
    external:
      name: "schema-cms-localstack-data"
  db_data:
    external:
      name: "schema-cms-backend-db-data"
