version: '3.7'

services:
  db:
    image: postgres:9.6.8
    env_file: local.env
    volumes:
      - schema_cms_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  localstack:
    image: localstack/localstack:latest
    ports:
      - "4567-4599:4567-4599"
    environment:
      - SERVICES=sqs,serverless
      - DEBUG="1"
      - DATA_DIR=/tmp/localstack/data
      - LAMBDA_EXECUTOR=docker
      - LAMBDA_REMOTE_DOCKER=true
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=foo
      - AWS_SECRET_ACCESS_KEY=bar
      - AWS_STORAGE_BUCKET_NAME=schemacms
    volumes:
#      - "localstack_data:/tmp/localstack/data"  # uncomment if you want keep data after killing container
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./backend/functions:/app/functions"
    privileged: true

  backend:
    image: schema_cms_backend
    build:
      context: backend/app
    entrypoint: ["./scripts/entrypoint.sh"]
    command: ["./scripts/run_dev.sh"]
    env_file: local.env
    volumes:
      - ./backend/app:/app
      - ./backend/functions:/functions
    ports:
      - "8000:8000"
    depends_on:
      - db
      - localstack
      - mailcatcher
    restart: always
    stdin_open: true
    tty: true

  publicapi:
    image: schema_cms_publicapi
    build:
      context: backend/functions/public_api
    env_file: local.env
    volumes:
      - ./backend/functions:/functions
    ports:
      - "8002:8002"
    depends_on:
      - backend
      - db
      - localstack
    restart: always
    stdin_open: true
    tty: true

  mailcatcher:
    image: schickling/mailcatcher
    ports:
    - 1080:1080

  documentation:
    restart: always
    image: schema_cms_backend:latest
    command: "mkdocs serve"
    volumes:
    - ./backend/app:/app
    ports:
    - "8001:8001"

volumes:
  localstack_data:
    external: true
  schema_cms_db_data:
    external: true
