version: '2'

services:
  db:
    image: postgres:9.6
    env_file:
      - local.env
    volumes:
      - dev-db:/var/lib/postgresql/data
  backend:
    restart: always
    env_file:
      - local.env
    image: schemacms_backend
    build: ./
    command: >
      bash -c "python wait_for_postgres.py &&
               ./manage.py migrate &&
               ./manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
      - mailcatcher
  documentation:
    restart: always
    build: ./
    command: "mkdocs serve"
    volumes:
      - ./:/code
    ports:
      - "8001:8001"
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 1080:1080


volumes:
  node-modules:
  static-build:
  dev-db:
    external:
      name: schemacms-db
