# Django
DJANGO_SECRET_KEY=local
DJANGO_SOCIAL_AUTH_AUTH0_KEY=
DJANGO_SOCIAL_AUTH_AUTH0_SECRET=
DJANGO_SOCIAL_AUTH_AUTH0_DOMAIN=

# Postgres
POSTGRES_PASSWORD=gistsecret
POSTGRES_DB=gistdb
POSTGRES_USER=gistuser
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

# Sentry
SENTRY_DNS=