service: public-api

provider:
  name: aws
  runtime: python3.8
  stage: ${opt:stage, 'dev'}


plugins:
  - serverless-python-requirements
  - serverless-wsgi
  - serverless-localstack
  - serverless-package-external

custom:
  wsgi:
    app: handler.app
  pythonRequirements:
    dockerizePip: false
    zip: true
    slim: true

  localstack:
    stages:
      # list of stages for which the plugin should be enabled
      - local
    # optional - LocalStack host to connect to
    host: http://localstack
    lambda:
      mountCode: False
  stages:
    - local
    - prod
  packageExternal:
    external:
      - '../common'

package:
  package:
    individually: true
  exclude:
    - .git/**
    - node_modules/**
    - Dockerfile

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'
    environment:
      AWS_STORAGE_BUCKET_NAME: schemacms
      AWS_ACCESS_KEY_ID: foo
      AWS_SECRET_ACCESS_KEY: bar
      AWS_DEFAULT_REGION: us-east-1
      LAMBDA_AUTH_TOKEN: 97090e73a80c4692bbbf7dedc17c59e0
