service: public-api

provider:
  name: aws
  runtime: python3.7
  stage: ${opt:stage, 'dev'}


plugins:
  - serverless-python-requirements
  - serverless-wsgi
  - serverless-localstack

custom:
  wsgi:
    app: handler.app
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux
    slim: true
  localstack:
    stages:
      # list of stages for which the plugin should be enabled
      - local
    # optional - LocalStack host to connect to
    host: http://localstack
#    host: http://localhost
    lambda:
      mountCode: False


package:
  exclude:
    - .git/**
    - node_modules/**

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'
    environment:
      DB_SECRET_ARN: arn:aws:secretsmanager:us-east-1:1234567890:secret:dbSecret
      AWS_STORAGE_BUCKET_NAME: schemacms
