service: lambda-worker

provider:
  name: aws
  runtime: python3.7
  stage: ${opt:stage, 'dev'}


plugins:
  - serverless-python-requirements
  - serverless-localstack
  - serverless-package-external
custom:
  pythonRequirements:
    dockerizePip: false
    zip: true
    slim: true
  localstack:
    stages:
      - local
    host: http://localstack
#    host: http://localhost
    lambda:
      mountCode: False
  stages:
    - local
    - prod
  packageExternal:
    external:
      - '../common'

package:
  individually: true
  exclude:
    - .git/**
    - node_modules/**

functions:
  main:
    handler: handler.main
    events:
      - sqs: arn:aws:sqs:us-east-1:000000000000:schemacms-queue
    environment:
      AWS_STORAGE_BUCKET_NAME: schemacms
      IMAGE_SCRAPING_FETCH_TIMEOUT: 15
      AWS_IMAGE_STORAGE_BUCKET_NAME: schemacms-images
      AWS_IMAGE_STATIC_URL: http://localhost:4572/schemacms-images
      AWS_ACCESS_KEY_ID: foo
      AWS_SECRET_ACCESS_KEY: bar
      AWS_DEFAULT_REGION: us-east-1
      BACKEND_URL: http://host.docker.internal:8000/api/v1
      LAMBDA_AUTH_TOKEN: 97090e73a80c4692bbbf7dedc17c59e0
