{
  "id": 339,
  "datasource": {
    "id": 373,
    "name": "My New Data Source #eVN9",
    "file": "373/uploads/world_cities.csv",
    "items": 0,
    "result": ""
  },
  "source_file_path": "373/uploads/world_cities.csv",
  "source_file_version": "KTMKYdesf1xzFaueY7RTMYgmzq5mE_Vw",
  "steps": [
    {
      "id": 391,
      "body": "df = df.tail(5)",
      "script": {
        "id": 110,
        "name": "Last 5 Rows"
      },
      "exec_order": 0
    }
  ]
}
