{
    "id": 5,
    "datasource": {
        "id": 22,
        "name": "My New Data Source #dLwb",
        "file": "22/uploads/usersSample.csv",
        "items": 10,
        "result": ""
    },
    "source_file_path": "22/uploads/usersSample.csv",
    "source_file_version": "3354cca6-4291-4ebf-a703-10616e22baa6",
    "steps": [
        {
            "id": 4,
            "body": "",
            "script": {
                "name": "Test"
            },
            "exec_order": 0
        }
    ]
}
