[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
auth0-python = "==3.9.1"
datatable = "==0.10.1"
boto3 = "==1.12.2"
Django = "==2.2.10"
django-anymail = "==7.0.0"
django-configurations = "==2.2"
django-cors-headers = "==3.2.1"
django-extensions = "==2.2.8"
django-fsm = "==2.7.0"
django-filter = "==2.2.0"
django-model-utils = "==4.0.0"
django-softdelete = "==0.9.0"
django-storages = "==1.9.1"
djangorestframework = "==3.10.3"
djangorestframework-jwt = "==1.11.0"
django-unique-upload = "==0.2.1"
gunicorn = "==20.0.4"
hashids = "==1.2.0"
Markdown = "==3.2.1"
markdown2 = "==2.3.8"
mkdocs = "==1.0.4"
pandas = "==1.0.3"
psycopg2-binary = "==2.8.4"
pyarrow = "==0.17.0"
python-jose = "~=3.0"
python-dotenv = "~=0.9"
pytz = "==2019.3"
Pillow = "==7.0.0"
sentry-sdk = "==0.14.1"
social-auth-app-django = "~=3.1"


[dev-packages]
coverage = "==5.0.3"
black = "==19.10b0"
django-debug-toolbar = "==2.2"
django-silk = "*"
factory-boy = "==2.12.0"
flake8 = "==3.7.9"
ipdb = "==0.12.3"
ipython = "==7.12.0"
pytest = "==5.3.5"
pytest-cov = "==2.8.1"
pytest-django = "==3.8.0"
pytest-factoryboy = "==2.0.3"
pytest-mock = "==2.0.0"

[requires]
python_version = "3.8"
