[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
auth0-python = "==3.12.0"
datatable = "==0.10.1"
boto3 = "==1.12.2"
Django = "==2.2.13"
django-anymail = "==7.0.0"
django-configurations = "==2.2"
django-cors-headers = "==3.2.1"
django-extensions = "==2.2.8"
django-fsm = "==2.7.0"
django-filter = "==2.2.0"
django-model-utils = "==4.0.0"
django-softdelete = "==0.9.0"
django-storages = "==1.9.1"
djangorestframework = "==3.10.3"
djangorestframework-jwt = "==1.11.0"
django-unique-upload = "==0.2.1"
gunicorn = "==20.0.4"
hashids = "==1.2.0"
lxml = "~=4.6"
Markdown = "==3.2.1"
pymdown-extensions = "==7.1"
markdown-checklist = "==0.4.1"
mkdocs = "==1.0.4"
pandas = "==1.0.3"
psycopg2-binary = "==2.8.4"
pyarrow = "==0.17.1"
python-jose = "~=3.0"
python-dotenv = "~=0.9"
pytz = "==2019.3"
Pillow = "~=8.2"
sentry-sdk = "==0.14.1"
social-auth-app-django = "==4.0.0"
social-auth-core = "==4.0.2"
django-clone = "==0.2.0"


[dev-packages]
coverage = "==5.0.3"
black = "==19.10b0"
django-debug-toolbar = "==2.2"
factory-boy = "~=3.2"
flake8 = "==3.8.1"
ipdb = "==0.12.3"
ipython = "==7.12.0"
pytest = "==5.3.5"
pytest-cov = "==2.8.1"
pytest-django = "==3.8.0"
pytest-factoryboy = "~=2.1"
pytest-mock = "==2.0.0"
pytest-freezegun = "==0.4.1"

[requires]
python_version = "3.8"
