import React, { memo } from 'react';

import { containerStyles } from './{{ camelCase name }}.styles';

export const {{ pascalCase name }} = memo(() => {
  return <div style={containerStyles} >{{ pascalCase name }} component</div>;
});
