service: image-handler

provider:
  name: aws
  runtime: nodejs10.x

plugins:
  - serverless-localstack
  - serverless-plugin-include-dependencies

package:
  individually: true
  exclude:
    - .git/**
    - node_modules/**  # no need to add this yourself, serverless-plugin-include-dependencies does it for you


custom:
  localstack:
    stages:
      - local
    host: http://localstack
    lambda:
      mountCode: False
  stages:
    - local
    - prod

functions:
  main:
    handler: index.handler
    events:
      - http:
          path: /{size}/{image}
          method: get
    environment:
      AWS_STORAGE_BUCKET_NAME: schemacms
      AWS_ACCESS_KEY_ID: foo
      AWS_SECRET_ACCESS_KEY: bar
      AWS_DEFAULT_REGION: us-east-1
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "s3:GetObject"
        Resource: "arn:aws:s3:::schemacms/*"
      - Effect: "Allow"
        Action:
          - "s3:PutObject"
        Resource: "arn:aws:s3:::schemacms/*"

