<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{ page['description'] }}">
	<meta name="keywords" content="{{ page['keywords'] }}">
	<meta name="author" content="{{ page['creator'] }}">
	<title>{{ page["title"] }}</title>
</head>

<body>
    {% for block in page["blocks"] %}
	{% for element in block["elements"] %}
	<div id='{{ element["id"] }}' class='{{ element["name"] }}'>
			<p>{{ element["value"]|safe }}</p>
	</div>
	{% endfor %}
    {% endfor %}
</body>
</html>