# Dependency directories
node_modules/

# Files with sensitive data
/test/credentials/credentials.js

# Gmail API
/test/GmailAPI/gmail.api.credentials.js
/test/GmailAPI/token.json

# Folder with reports
allure-results
allure-report

# Cruft
.idea
